.flex-space-between {
  display: flex;
  justify-content: space-between;
}
.flex-center-x {
  display: flex;
  justify-content: center;
}
.flex-center-xy {
  display: flex;
  justify-content: center;
  align-items: center;
}